@inherits System.Web.Mvc.WebViewPage<Commands.CreateNewNoteCommand>

@{
    View.Title = "CreateNote";
    LayoutPage = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateNote</h2>

    @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Fields</legend>
            
            <div class="editor-label">
                @Html.LabelFor(model => model.Text)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Text)
                @Html.ValidationMessageFor(model => model.Text)
            </div>
            
			@Html.HiddenFor(model => model.NoteId)
            
            <p>
                <input type="submit" value="Create" />
            </p>
        </fieldset>

    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>


